<?xml version="1.0" encoding="utf-8"?>
<siteSettings>
    <site name="default">
        <theme>ViviChart_v2</theme>
        <db_server>DESKTOP-NTTECT6</db_server>
        <db_name>ViviChart-m</db_name>
        <db_connection>sql</db_connection>
        <min_pool_size>0</min_pool_size>
        <max_pool_size>100</max_pool_size>
        <connection_timeout>15</connection_timeout>
        <command_timeout>30</command_timeout>
        <profileuser />
        <authentication_method>Forms</authentication_method>
        <email_errors>NoEmail</email_errors>
        <email_errors_to />
        <browser_title>ViviChart</browser_title>
        <error_message>Please contact your technical support team.</error_message>
        <timeout_interval>20</timeout_interval>
        <innactivity_timeout>20</innactivity_timeout>
        <use_language>true</use_language>
        <proxy_use>false</proxy_use>
    </site>
</siteSettings>