:root {
    --ajaxProgressDiv-bg-image: url(graphics/ajax-progress-bg.png) no-repeat;
    --ajaxProgressDiv-color: white;
    --AreaPanel-bg-color: #FFF8DC;
    --AreaPanel-border: 1px solid silver;
    --BannerLoginDetails-bg-color: transparent;
    --BannerLoginDetails-border: 1px solid silver;
    --BannerMessage-bg-color: medium none #FFFFFF;
    --BannerMessage-border: medium none #000000;
    --BannerMessage-color: medium none #FF0000;
    --BannerMessage-font: 'Arial Black';
    --body-font: Arial;
    --BtnBack-bg-image: url(../../graphics/20/back_white.png);
    --BtnNext-bg-image: url(../../graphics/20/next_white.png);
    --BtnSearch-bg-image: url(../../graphics/20/search_white.png);
    --checkbox-blank-icon: url('../../graphics/svg/check_box_blank.svg');
    --checkbox-checked-icon: url('../../graphics/svg/check_box_tick.svg');
    --ctl00-Menu-bg-color: transparent;
    --ctl00-Menu-table-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    --default-link-a-color: black;
    --div-ButtonBar-bg-color: transparent;
    --div-ButtonBar-color: color;
    --div-login-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    --DynamicMenuItemStyle-link-bg-color: transparent;
    --DynamicMenuItemStyle-link-border: 1px solid rgba(0, 0, 0, 0.12);
    --DynamicMenuItemStyle-link-hover-bg-color: rgba(0, 0, 0, 0.04);
    --DynamicMenuStyle-bg-color: transparent;
    --formCell-bg-color: #E8E7E7;
    --formCell-color: #666666;
    --formcontrol-bg-color: white;
    --formcontrol-color: black;
    --helpClass-bg-color: white;
    --helpClass-border: 1px solid #5188bf;
    --helpClass-color: #5188bf;
    --helpClass-font: Montserrat, Arial;
    --InfoPanel-bg-color: #fff;
    --InfoPanel-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    --input-ActionButtons-border: 7px solid transparent;
    --link-ToolTip-color: black;
    --listheader-link-color: White;
    --listLinkSelectedRow-bg-color: #A5BDCB;
    --listLinkSelectedRow-bg-hover-color: #F6D389;
    --listLinkSelectedRow-border: 1px solid #566963;
    --listLinkSelectedRow-color: black;
    --listLinkSelectedRow-text-shadow: 0px -1px 0px #2b665e;
    --login-failure-color: Red;
    --login-header-border-bottom: solid 1px #CCCCCC;
    --loginmesssage-color: White;
    --menu-error: Yellow;
    --menu-node-color: #666666;
    --menu-selectedNode-bg-color: #E8E7E7;
    --menu-selectedNode-color: #666666;
    --menuItem-bg-color: #666666;
    --menuItem-border: 1px solid black;
    --menuItem-color: #E8E7E7;
    --ParaText-bg-color: transparent;
    --ParaText-color: #000000;
    --ParaText-font: Montserrat, Arial;
    --popUp-bg-color: #E8E7E7;
    --popUp-border: ridge 2px #666666;
    --PopupPanel-color: black;
    --span-error-message-color: #000000;
    --span-warn-message-color: #000000;
    --StaticMenuItemStyle-bg-color: transparent;
    --stdlink-color: blue;
    --stdlink-hover-color: darkblue;
    --SubmitButton-bg-color: #7CBDCD;
    --SubmitButton-bg-hover-color: #F6D389;
    --tab-border-left-right: 1px solid #999;
    --tab-border-top: 1px solid #c7c7c7;
    --table-ButtonBar-bg-color: transparent;
    --tabLink-color: #E8E7E7;
    --td-error-icon: url(graphics/stop-med.png);
    --td-errorMessage-bg-color: #FFCC00;
    --td-errorMessage-border: 1px solid #999999;
    --td-errorMessage-color: #000000;
    --td-info-icon: url(graphics/info-med-v1.svg);
    --td-listfooter-bg-color: #3D3E43;
    --td-listfooter-color: white;
    --td-listheader-bg-color: #3D3E43;
    --td-listheader-color: white;
    --td-warn-icon: url(graphics/warn-med-v1.svg);
    --td-warn-message-color: #000000;
    --tr-listfooter-bg-color: #3D3E43;
    --tr-listfooter-color: white;
    --tr-listheader-bg-color: #3D3E43;
    --tr-listheader-color: white;
    --translations-context-link-hover-color: #000095;
    --translations-lang-foreign-color: blue;
    --translations-multiline-input-color: blue;
}
