
table {
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 0px;
}


/* generic web list */
table.grid,table.listform
{
    border-collapse:separate;
}


.listheader th, .listheader div {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--listheader-bg-color);
    color: var(--listheader-color);
    padding-left:8px;
    padding-right:8px;
}

/* header row style*/
th.listheader, tr.listheader, div.listheader {
    white-space: normal;
    font-weight: normal;
    font-size: medium;
    color: var(--listheader-color);
    text-align: center;
    background-color: var(--listheader-bg-color);
}
th.listheader span, tr.listheader span
{
    white-space:nowrap; 			
}
/* list row style */
tr.listrow, tr.listaltrow {
    background-color: var(--listrow-bg-color);
    vertical-align: middle;
}
/* alternating list row style */
tr.listaltrow {
    /*background-color: var(--listaltrow-bg-color);*/
}

/* cell style for each data cell */
td.listdata,td.listdataalt
{
   vertical-align:top;
   padding:1px 4px 1px 4px;
   white-space:nowrap;
}

.selected_row {
    background-color:var(--selected-row-bg-color);
    color:var(--selected-row-color);
}

.selected_row:hover {
    background-color:var(--selected-row-bg-hover-color);
    color:var(--selected-row-hover-color);
}

/* other list header styles */
td.listheader
{
    white-space:nowrap; 
	font-weight: normal;
	font-size:medium;	
	background-color: var(--td-listheader-bg-color);
	color: var(--td-listheader-color);	
	text-align:center;
}

tr.listheader
{
    background-color: var(--tr-listheader-bg-color);
	color: var(--tr-listheader-color);		
}
/* end other list header styles */

td.listfooter
{
    white-space:nowrap; 
	font-weight: normal;
	font-size:medium;	
	background-color:var(--td-listfooter-bg-color);
	color: var(--td-listfooter-color);	
	text-align:center;
}

tr.listfooter
{
    background-color: var(--tr-listfooter-bg-color);
	color: var(--tr-listfooter-color);		
}

/* end style for authorisations */

tr.selected_row,
tr.listaltrow,
tr.listrow {
	cursor: default;
}

tr th {
	font-weight: normal;
}

.allow-hover tr.selected_row,
.allow-hover tr.listaltrow:hover,
.allow-hover tr.listrow:hover {
	color: var(--selected-row-color) !important;
	font-weight: normal !important;
    background-color:var(--selected-row-bg-color);
}

.allow-hover tr.selected_row input,
.allow-hover tr.listaltrow:hover input,
.allow-hover tr.listrow:hover input {
	filter: invert(1) !important;
}
